{% extends 'base.html'%}

{% block title %} log_in {% endblock title %}

{% block content %}
    
<div class="container">
    <div class="col-md-8">
        <form method="post">
        {% csrf_token %}
            {{ form.username.label }}
            {{ form.username }}
            {{ form.username.errors }}
            {{ form.password.label }}
            {{ form.password }}
            {{ form.password.errors }}
            {{form.eamil_login.lable}}
            {{form.eamil_login}}
            {{form.eamil_login.errors}}
            
        <button class="btn btn-success">log_in</button>
        </form>
        <a href="{% url 'sign_in' %}">Do not have account??</a>
    </div>
</div>
{% endblock content %}